<section class="content_width row book">
    <div class="col-md-3 text-center">
        <img src="/assets/images/think-grow-rich-bc.jpg">
    </div>
    <section class="col-md-4 book__details">
        <h1>Think and Grow Rich</h1>
        <h2>By <span>Napolean Hill</span></h2>
        <dl>
            <dt>Category</dt>
            <dd></dd>
            <dt>Language</dt>
            <dd></dd>
            <dt>Pages</dt>
            <dd></dd>
            <dt>Language</dt>
            <dd></dd>
            <dt>Owned By</dt>
            <dd></dd>
        </dl>
    </section>
</section>
