li.panel{
    margin-bottom: 0px;
    padding-bottom: 10px;
    line-height: 22px;
}
li a {
    font-size: 15px;
    margin: 15px 0;
    font-weight: bold;
}
#faq-accordion {
  margin-top: 30px;
}
.container {
    min-height: calc(100vh - 421px);
}
