<app-header></app-header>
<div class="container demo">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="nav nav-stacked" id="faq-accordion">
      <ul>
        <li class="panel"> <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">How this library works</a>
          <div id="firstLink" class="collapse">
            Here is another paragraph for accordion title 4th one. Good for showing frequently asked questions. Here is another paragraph for accordion title 4th one. Good for showing frequently asked questions.
          </div>
        </li>
        <li class="panel"> <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">Can anybody use this library?</a>
          <div id="secondLink" class="collapse">
            Here is another paragraph for accordion title 4th one. Good for showing frequently asked questions. Here is another paragraph for accordion title 4th one. Good for showing frequently asked questions.
          </div>
        </li>
        <li class="panel"> <a data-toggle="collapse" data-parent="#accordion1" href="#thirdLink">How about lirary registration</a>
          <div id="thirdLink" class="collapse">
            Here is another paragraph for accordion title 4th one. Good for showing frequently asked questions. Here is another paragraph for accordion title 4th one. Good for showing frequently asked questions.
          </div>
        </li>
        <li class="panel"> <a data-toggle="collapse" data-parent="#accordion1" href="#fourthLink">I have used books, can I sell them via QBurst library</a>
          <div id="fourthLink" class="collapse">
            Here is another paragraph for accordion title 4th one. Good for showing frequently asked questions.
          </div>
        </li>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
  <!-- container -->
  <app-footer></app-footer>
