header {
    height: 280px;
    background-image: url(/assets/images/masthead_books.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    position: relative;
    nav {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

.content_width {
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    padding: 28px;
}
